.inp input{
    outline: none;
    height: 35px;
    width: 250px;
    padding-left: 35px;
    border: 1px solid #ccc;
}

.search{
    display: flex;
    align-items: center;
    gap: 15px;
}

.count{
    color: white;
    font-size: 14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: absolute;
    top: -14px;
    right: -12px;
    border-radius: 50%;
    background-color: red;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.count p{
    top: 10px;
    margin: 0 auto;
    padding-left: 6px;
}

.basketIconss{
    position: relative;
    z-index: 1;

}

.filter{
    border: 1px solid #ccc;
    padding: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #7D7D7D;
    background-color: #F2F2F2;
    position: relative;
    right: -15px;
    border-right: none;
    cursor: pointer;
    transition: .5s;
    width: 60px;
}

.filter:hover{
    background-color: white;
}

.filterText{
    font-weight: 600;
    font-size: 12px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.filterIcon{
    font-weight: 600;
    font-size: 16px;
    padding: 5px 0 0 5px;
}



@media only screen and (max-width:768px){
    .search{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .dFlex{
        width: 100%;
    }
    .inp{
        height: 44px;
        margin-bottom: 10px;
        width: 100%;
    }
    .inp input{
        width: 100%;
    }

    .basketIconss{
        top: -60px;
    }
    .inputFlex{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
}